/Bai2/nbproject/private/
/Bai2/build/
/Bai3/nbproject/private/
/Bai3/build/
/Bai4/nbproject/private/
/Bai4/build/
/Bai5/nbproject/private/
/Bai5/build/
/Bai6/nbproject/private/
/Bai6/build/
/Bai7/nbproject/private/
/Bai7/build/
